Repository 0x4007/pay.ubq.fi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rndquu, @Keyrxng, @pavlovcik

.github/CODEOWNERS:

* @rndquu
* @Keyrxng
*.ts @pavlovcik
/static @pavlovcik

fix: allow new changes
  .github/workflows/sync-template.yml
Owners: @Keyrxng

chore: update submodule and clean up unused imports
  build/esbuild-build.ts
  bun.lockb
  package.json
  shared/helpers.ts
  static/scripts/rewards/app-state.ts
  static/scripts/rewards/render-transaction/render-ens-name.ts
  static/scripts/rewards/render-transaction/render-transaction.ts
  static/scripts/rewards/web3/add-network.ts
  static/scripts/rewards/web3/erc20-permit.ts
  static/scripts/rewards/web3/not-on-correct-network.ts
  static/scripts/rewards/web3/use-rpc-handler.ts
Owners: @pavlovcik, @Keyrxng

chore: update dependencies and improve project configuration
  frontend/bun.lock
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/login-page.tsx
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
Owners: @Keyrxng

fix: update permit2 RPC client dependency and add 'Check Failed' status
  bun.lock
  frontend/bun.lock
  frontend/package.json
  frontend/src/hooks/use-permit-data.ts
  frontend/src/types.ts
  frontend/src/workers/permit-checker.worker.ts
Owners: @Keyrxng, @pavlovcik

feat: update Vite version and add local storage hooks for permit data caching
  .clinerules
  cowswap-implementation-plan.md
  docs/active-context.md
  docs/fix-claim-recording-plan.md
  docs/progress.md
  docs/system-patterns.md
  docs/tech-context.md
  frontend/bun.lock
  frontend/deno.lock
  frontend/package.json
  frontend/server.ts
  frontend/src/app-styles.css
  frontend/src/hooks/apply-final-filtering-for-ui.ts
  frontend/src/hooks/fetch-on-initial-mount.ts
  frontend/src/hooks/fetch-permits.ts
  frontend/src/hooks/fetch-quotes-and-update-permits-in-map.ts
  frontend/src/hooks/initialize-worker-on-mount.ts
  frontend/src/hooks/load-permit-data-cache-from-local-storage.ts
  frontend/src/hooks/manually-update-status-cache.ts
  frontend/src/hooks/refetch-quotes-on-preference-change.ts
  frontend/src/hooks/save-permit-data-cache-to-local-storage.ts
  frontend/src/hooks/use-permit-claiming.ts
  frontend/src/hooks/use-permit-data.ts
  frontend/src/utils/cowswap-utils.ts
  frontend/vite.config.ts
  scripts/rename-to-kebab-case.ts
Owners: @Keyrxng, @pavlovcik

refactor: break apart large file
  frontend/.cspell.json
  frontend/src/fixtures/permit2-abi.ts
  frontend/src/hooks/handle-claim-confirmation-error.ts
  frontend/src/hooks/handle-claim-confirmation.ts
  frontend/src/hooks/handle-claim-submission-error.ts
  frontend/src/hooks/handle-permit-claim.ts
  frontend/src/hooks/handle-sequential-permit-claims.ts
  frontend/src/hooks/initiate-swaps-after-successful-claims.ts
  frontend/src/hooks/is-maybe-coded-error.ts
  frontend/src/hooks/is-nonce-used-error.ts
  frontend/src/hooks/is-user-rejection.ts
  frontend/src/hooks/use-permit-claiming.ts
Owners: @Keyrxng, @pavlovcik

feat: enhance logging and improve cache handling in permit claim process
  docs/active-context.md
  docs/progress.md
  frontend/server.ts
  frontend/src/hooks/handle-claim-confirmation.ts
  frontend/src/hooks/handle-permit-claim.ts
  frontend/src/hooks/manually-update-status-cache.ts
Owners: @Keyrxng, @pavlovcik

feat: implement developer leaderboard feature and enhance routing
  docs/active-context.md
  docs/product-context.md
  docs/progress.md
  docs/project-brief.md
  docs/supabase-schema.png
  docs/system-patterns.md
  frontend/src/App.tsx
  frontend/src/components/dashboard-page.tsx
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/context/worker-context.tsx
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/hooks/use-permit-data.ts
  frontend/src/main.tsx
  frontend/src/workers/permit-checker.worker.ts
  frontend/vite.config.ts
Owners: @Keyrxng, @pavlovcik

refactor: kebab
  frontend/src/workers/fetch-all-permits-for-leaderboard.ts
  frontend/src/workers/fetch-permits-from-db.ts
  frontend/src/workers/map-combined-to-leaderboard-data.ts
  frontend/src/workers/map-db-permit-to-permit-data.ts
  frontend/src/workers/new-file.ts
  frontend/src/workers/permit-checker.worker.ts
  frontend/src/workers/validate-permits-batch.ts
  scripts/rename-to-kebab-case.ts
Owners: @pavlovcik

fix: leaderboard loads
  frontend/src/App.tsx
  frontend/src/app-styles.css
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/context/worker-context.tsx
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/workers/fetch-all-permits-for-leaderboard.ts
  frontend/src/workers/permit-checker.worker.ts
  frontend/src/workers/supabase-singleton.ts
  frontend/vite.config.ts
Owners: @Keyrxng, @pavlovcik

chore: parsing metadata for analytics
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/workers/fetch-permits-from-db.ts
  frontend/src/workers/map-db-permit-to-permit-data.ts
  frontend/src/workers/permit-checker.worker.ts
  frontend/src/workers/validate-permits-batch.ts
Owners: @pavlovcik

fix: metadata parser stable
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/types.ts
  frontend/src/workers/validate-permits-batch.ts
Owners: @pavlovcik

feat: enhance developer leaderboard with XP breakdown by category
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/hooks/use-leaderboard-data.ts
Owners: @Keyrxng, @pavlovcik

feat: stacked bar chart
  docs/active-context.md
  docs/progress.md
  docs/system-patterns.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/developer-leaderboard.tsx
Owners: @Keyrxng

feat: time slider
  docs/active-context.md
  docs/progress.md
  docs/system-patterns.md
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/hooks/use-leaderboard-data.ts
Owners: @Keyrxng, @pavlovcik

feat: update developer leaderboard with radio button filters and caching improvements
  docs/active-context.md
  docs/progress.md
  docs/system-patterns.md
  docs/tech-context.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/components/leaderboard-styles.css
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/utils/github-comment-cache.ts
  frontend/src/utils/idb-keyval.ts
  frontend/src/utils/leaderboard-cache.ts
  frontend/src/workers/leaderboard-processing.ts
  frontend/src/workers/new-file.ts
  frontend/src/workers/permit-checker.worker.ts
Owners: @Keyrxng, @pavlovcik

feat: enhance leaderboard functionality with GitHub token integration and database reset capability
  frontend/index.html
  frontend/src/context/worker-context.tsx
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/utils/idb-keyval.ts
  frontend/src/workers/leaderboard-processing.ts
Owners: @Keyrxng, @pavlovcik

refactor: consolidate worker functionality and improve leaderboard data handling
  docs/system-patterns.md
  frontend/docs/leaderboard-worker-conflict-resolution.md
  frontend/src/App.tsx
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/components/leaderboard-route.tsx
  frontend/src/context/worker-context.tsx
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/utils/leaderboard-cache.ts
  frontend/src/workers/app-worker.ts
  frontend/src/workers/fetch-all-permits-for-leaderboard.ts
  frontend/src/workers/fetch-permits-from-db.ts
  frontend/src/workers/github-data-fetcher.ts
  frontend/src/workers/leaderboard-aggregator.ts
  frontend/src/workers/leaderboard-helpers.ts
  frontend/src/workers/leaderboard-processing.ts
  frontend/src/workers/map-combined-to-leaderboard-data.ts
  frontend/src/workers/map-db-permit-to-permit-data.ts
  frontend/src/workers/permit-checker.worker.ts
  frontend/src/workers/validate-permits-batch.ts
  frontend/vite.config.ts
Owners: @Keyrxng, @pavlovcik

refactor: streamline permit fetching by integrating date filtering directly in the database query
  frontend/src/workers/app-worker.ts
  frontend/src/workers/fetch-all-permits-for-leaderboard.ts
Owners: @pavlovcik

feat: add repository filtering to developer leaderboard and enhance caching mechanism
  frontend/index.html
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/components/leaderboard-styles.css
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/utils/leaderboard-cache.ts
  frontend/src/workers/app-worker.ts
  frontend/src/workers/fetch-all-permits-for-leaderboard.ts
  frontend/src/workers/leaderboard-aggregator.ts
  frontend/vite.config.ts
Owners: @Keyrxng, @pavlovcik

feat: initialize package.json and bun.lock for project dependencies; remove outdated documentation files
  bun.lock
  frontend/docs/leaderboard-worker-conflict-resolution.md
  frontend/package.json
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/tests/leaderboard.test.ts
  frontend/src/utils/leaderboard-cache.ts
  frontend/src/workers/app-worker.ts
  frontend/src/workers/fetch-all-permits-for-leaderboard.ts
  package.json
  record-claim-feature.md
Owners: @Keyrxng, @pavlovcik

feat: add leaderboard cache clearing functionality and enhance developer leaderboard with refresh capability
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/context/worker-context.tsx
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/tests/leaderboard.test.ts
  frontend/src/types/tests.d.ts
  frontend/src/utils/leaderboard-cache.ts
Owners: @Keyrxng, @pavlovcik

feat: remove package.json and bun.lock; implement GitHub data substitution plan and leaderboard analytics documentation
  bun.lock
  docs/github-data-substitution-plan.md
  docs/leaderboard-analytics-plan.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/setupTests.ts
  frontend/src/utils/idb-keyval.test.ts
  frontend/src/utils/idb-keyval.ts
  frontend/src/utils/test-idb-keyval.ts
  frontend/src/workers/leaderboard-aggregator.ts
  package.json
Owners: @Keyrxng, @pavlovcik

feat: enhance developer leaderboard with repository whitelisting and improved filtering logic
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/workers/leaderboard-aggregator.ts
Owners: @Keyrxng, @pavlovcik

feat: remove GitHub data substitution plan documentation
  docs/github-data-substitution-plan.md
Owners: @Keyrxng

refactor: remove most logs
  frontend/deno.lock
  frontend/server.ts
  frontend/src/components/dashboard-page.tsx
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/components/permit-row.tsx
  frontend/src/components/reward-preference-selector.tsx
  frontend/src/context/worker-context.tsx
  frontend/src/hooks/use-leaderboard-data.ts
  frontend/src/hooks/use-permit-claiming.ts
  frontend/src/hooks/use-permit-data.ts
  frontend/src/main.tsx
  frontend/src/the-grid.ts
  frontend/src/utils/cowswap-utils.ts
  frontend/src/utils/idb-keyval.ts
  frontend/src/utils/leaderboard-cache.ts
  frontend/src/utils/permit-utils.ts
  frontend/src/workers/app-worker.ts
  frontend/src/workers/fetch-all-permits-for-leaderboard.ts
  frontend/src/workers/fetch-permits-from-db.ts
  frontend/src/workers/github-data-fetcher.ts
  frontend/src/workers/leaderboard-aggregator.ts
  frontend/src/workers/map-combined-to-leaderboard-data.ts
  frontend/src/workers/supabase-singleton.ts
  frontend/src/workers/validate-permits-batch.ts
Owners: @Keyrxng, @pavlovcik

refactor: remove unused permit-related hooks, utilities, and worker scripts
  frontend/bun.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/dashboard-page.tsx
  frontend/src/components/developer-leaderboard.tsx
  frontend/src/components/permit-row.tsx
  frontend/src/components/permits-table.tsx
  frontend/src/components/reward-preference-selector.tsx
  frontend/src/fixtures/permit2-abi.ts
  frontend/src/hooks/use-permit-claiming.ts
  frontend/src/hooks/use-permit-data.ts
  frontend/src/utils/permit-utils.ts
  frontend/src/workers/fetch-all-permits-for-leaderboard.ts
  frontend/src/workers/fetch-permits-from-db.ts
  frontend/src/workers/map-db-permit-to-permit-data.ts
  frontend/src/workers/validate-permits-batch.ts
  knip-results.json
Owners: @Keyrxng, @pavlovcik

chore: update project name and version in package.json
  frontend/package.json
Owners: @Keyrxng

feat: enable HMR in Vite config and add LeaderboardAnalytics component with tabbed navigation
  frontend/src/components/leaderboard-analytics.tsx
  frontend/src/components/leaderboard-route.tsx
  frontend/vite.config.ts
Owners: @Keyrxng, @pavlovcik

feat: add DynamicAnalytics component to DashboardPage and integrate it into the UI
  frontend/src/components/dashboard-page.tsx
  frontend/src/components/dynamic-analytics.tsx
  frontend/src/components/leaderboard-analytics.tsx
Owners: @Keyrxng

chore: claude made a huge mess
  bun.lock
  package.json
Owners: @Keyrxng

chore: claude made a huge mess
  deploy-guide.md
  scripts/check-all-chains.ts
  scripts/check-gnosis-contract.js
  scripts/check-gnosisscan.js
  scripts/check-gnosisscan.ts
  scripts/check-target-contract.js
  scripts/check-target-contract.ts
  scripts/cross-chain-address-report.md
  scripts/cross-chain-deployment-guide.md
  scripts/crosschain-deployment-info.json
  scripts/deploy-deterministic-crosschain.ts
  scripts/deploy-same-address.ts
  scripts/deploy-to-chain.ts
  scripts/find-salt-for-target.ts
  scripts/mainnet-deployment-result.json
  scripts/manual-verification-guide.md
  scripts/redeploy-mainnet.sh
  scripts/redeploy-mainnet.ts
  scripts/simple-check-contract.js
  scripts/verify-contract-code.ts
  scripts/verify-target-contract.ts
  scripts/verify-target-gnosis.ts
  verify-output.log
Owners: @Keyrxng, @pavlovcik
